body {
    font-family: Arial;
    background: url("../images/fondomiscitas.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* CARD */
.card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    border-top: 5px solid #667eea;
}

.card h2 {
    text-align: center;
    color: #667eea;
    margin-bottom: 15px;
}

/* ITEM */
.item {
    background: #f0f3ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
}

.badge {
    display: inline-block;
    padding: 4px 10px;
    background: #667eea;
    color: white;
    border-radius: 8px;
    font-size: 12px;
}

.btn-volver {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-volver:hover {
    background: #1d4ed8;
}

@media(max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
}